* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.footer-container {
  background-color: #2c2c2c;
  color: white;
  height: 498px;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

@media (min-width: 769px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 80px;
  }
}

.footer__redes {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  justify-content: center;
  gap: 22px;
}
.footer__redes-fonts {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  gap: 7px;
}
.footer__redes-logos {
  width: 26px;
  height: 26px;
}
.footer__redes-link {
  text-decoration: none;
  color: white;
}
.header__logo-link {
  color: #ffffff;
  text-decoration: none;
  color: white;
}
.header__logo-link:focus {
  color: darkturquoise;
}
